# ===== PYTHON =====
__pycache__/
*.py[cod]
*$py.class

# Extensions compilées
*.so

# ===== ENVIRONNEMENTS VIRTUELS =====
.venv/
venv/
env/

# ===== VSCODE =====
.vscode/

# ===== KIVY =====
.kivy/

# ===== BUILDOZER / APK =====
bin/
build/
.gradle/
.buildozer/
dist/

# ===== LOGS =====
*.log

# ===== FICHIERS OS =====
.DS_Store
Thumbs.db